* {
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
}

html {
	font-family: sans-serif;
}

body {
	font-size: 10px;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

address, var, code, em {
	font-style: normal;
}

ul {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1.0em;
}

main > section, main > header > div, main > footer > div, main > nav > ul {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

main > header > div {
	height: 100px;
}

main > header {
	background-image: linear-gradient(to top, #ed1c40, #cb0a20);
}

main > header h1 {
	font-size: 2.0em;
}

main > header h1 a {
	display: block;
	width: 128px;
	height: 65px;
	padding-left: 148px;
	background: url("../media/logo.png") left center no-repeat;
}

main > header, main > header a {
	color: #fff;
}

main > header h1, #wellcome, main > header form {
	position: absolute;
}

main > header h1, #wellcome, main > header form {
	top: 50%;
	transform: translate(0%, -50%);
}

#wellcome, main > header form {
	right: 0;
}

main > header form h5 {
	display: none;
}

main > header form fieldset {
	padding-bottom: 5px;
}

main > header form input, main > header form button {
	display: inline-block;
	line-height: 25px;
	height: 25px;
	border-radius: 4px;
}

main > header form input {
	text-indent: 4px;
}

main > header form a, main > header form button {
	text-transform: uppercase;
}

main > header form button {
	padding: 0 10px;
	background: #ff9cc0;
	color: #ed1c40;
	font-size: 1.0em;
	margin-left: 10px;
}

#wellcome address {
	font-size: 1.4em;
	margin-bottom: 1.0em;
}

#wellcome li {
	display: block;
	float: left;
	margin-left: 20px;
}

#wellcome li:first-child {
	margin-left: 0px;
}

#wellcome a {
	text-transform: uppercase;
}

main > nav {
	margin-bottom: 16px;
	border-bottom: solid 1px #ccc;
}

main > nav > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1;
}

main > nav > ul li {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.0em;
	font-weight: 700;
	line-height: 30px;
	height: 30px;
	white-space: nowrap;
	margin: 0 10px;
}

main > nav {
	background: #eee;
}

main > nav a {
	color: #000;
}

main > section {
	padding-bottom: 96px;
}

main > section > header {
	margin-bottom: 16px;
	border-bottom: solid 1px #ccc;
	padding: 5px 0;
}

main > section > header h2 {
	font-size: 2.0em;
	line-height: 1.5em;
}

main > section > article p {
	margin-bottom: 1.5em;
	font-size: 1.4em;
	font-family: serif;
	line-height: 1.5em;
}

main > section > article h3 {
	margin-bottom: 1.5em;
	font-size: 1.4em;
	line-height: 1.5em;
	text-transform: uppercase;
}

main > footer {
	background: #eee;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: solid 1px #ed1c40;
	text-align: center;
	padding: 16px 0;
}

main > footer > div {
	height: 40px;
}

main > footer h6 {
	font-size: 1.0em;
	text-transform: uppercase;
	margin-bottom: 1.0em;
}

main > footer small {
	font-size: 1.0em;
	text-transform: uppercase;
}

main > footer a {
	color: #ed1c40;
}

table {
	width: 640px;
	margin: 0 auto;
	border: solid 1px #ccc;
}

table caption {
	font-size: 1.4em;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
}

table thead th {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: left;
	text-indent: 100px;
	height: 30px;
	line-height: 30px;
	border: solid 1px #ccc;
	background: #eee;
}

table thead th sup {
	color: #999;
}

table tbody th, table tbody td {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: left;
	text-indent: 100px;
	height: 30px;
	line-height: 30px;
	border: solid 1px #ccc;
}

table thead th sup {
	color: #999;
}

table tfoot td {
	border: solid 1px #ccc;
	padding: 20px;
	border: solid 1px #ccc;
	padding: 20px;
}

table tfoot td p {
	font-family: sans-serif;
	font-size: 1.0em;
	margin: 0;
	padding: 5px 0;
}

#frm {
	width: 640px;
	margin: 0 auto;
}

#frm fieldset {
	margin-bottom: 20px;
}

#frm fieldset > label {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	text-transform: uppercase;
}

#frm fieldset small {
	font-size: 1.0em;
	text-transform: uppercase;
	color: #666;
	display: inline-block;
	height: 30px;
	line-height: 30px;
}

#frm select {
	padding: 0 5px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border: solid 1px #ccc;
	margin-right: 20px;
}

#frm h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	margin-bottom: 1.0em;
}

#frm ul {
	display: flex;
	flex-grow: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#frm li {
	flex-grow: 0;
	width: 50%;
	margin: 0 0 20px 0;
}

#frm li input[type="checkbox"] {
	float: left;
	margin: 4px 10px 0 0;
}

#frm li label {
	height: 20px;
	line-height: 20px;
	text-transform: uppercase;
}

#frm input[type="text"], #frm input[type="password"], #frm textarea {
	display: block;
	border: solid 1px #ccc;
	border-radius: 4px;
	width: 512px;
}

#frm input[type="text"], #frm input[type="password"] {
	text-indent: 4px;
	height: 30px;
	line-height: 30px;
}

#frm textarea {
	padding: 5px;
}

#frm button, .btn {
	font-size: 12px;
	font-family: sans-serif;
	text-align: center;
	width: 160px;
	background: #ed1c40;
	color: #fff;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 0 10px;
	border-radius: 4px;
}

#contact-type {
	width: 250px;
}

.error-list {
	list-style-position: inside;
	margin-bottom: 40px;
}

.error-list li {
	font-size: 1.2em;
	margin-bottom: 1.0em;
}

#user-card {
	width: 480px;
	margin: 0 auto;
	background: #eee;
	border: solid 1px #ccc;
	padding: 10px;
}

#user-card figure {
	width: 200px;
	float: left;
	margin-right: 20px;
}

#user-card img {
	display: block;
	max-width: 100%;
	height: auto;
}

#user-card h3, #user-card code {
	display: block;
	margin-bottom: 10px;
}

#user-card code {
	font-size: 1.2em;
}

#user-card address {
	font-size: 1.2em;
}

#wellcome ul:after, #user-card:after	 {
	display: block;
	clear: both;
	content: ".";
	height: 0;
	visibility: hidden;
}